{% extends 'home/index.html' %}

{% block content %}
<div id="newBlog_warp" class="newBlog_warp">
    <div class="login-item"><span class="login_text">标签</span>
            <select id="select_tag_blog">
                {% for i in params['tag'] %}
                <option value="{{ i['id'] }}">{{ i['tag_name'] }}</option>
                {% endfor %}
            </select>
                {% if params['order'] == 1 %}
            <script>
                var selec = document.getElementById("select_tag_blog");
                selec.options[value={{ params['blog']['tag_id'] }}].selected = true;
            </script>
        {% endif %}

    </div>
    <div class="login-item"><span class="login_text">标题</span>
        {% if params['order'] == 0 %}
            <input type="text" class="InputTitle" id="blog_title" placeholder="标题"/>
        {% elif params['order'] == 1 %}
            <input type="text" class="InputTitle" id="blog_title" placeholder="标题" value="{{ params['blog']['title'] }}"/>
        {% endif %}
    </div>
<div class="login-item">
    <span class="login_text">封面</span>
    {% if params['order'] == 0 %}
    <img src="{{ url_for('static',filename='uploads/blogs/default_blog.png') }}"
         id="Blog_logo" class="user_head_pic" onclick="ClickInputLogo()">
    {% elif params['order'] == 1 %}
    <img src="{{ url_for('static',filename='uploads/blogs/'+params['blog']['headname']) }}"
         id="Blog_logo" class="user_head_pic" onclick="ClickInputLogo()">
    {% endif %}
    <div>
        <input type="file" id="InputLogo" class="InputHead hide" accept="image/jpg,image/jpeg,image/png,image/PNG"
               onchange="UploadLogo()"/>
    </div>
</div>
<div id="new_blog_text">
    <div class="">
        <div class="login-item"><span class="login_text">博客内容</span></div>
        {{ params['pagedown'].body(class='pagedown_text') }}

        {{ pagedown.include_pagedown() }}
    </div>

    <div><table id="video_upload_table">
        {% if params['order'] == 1 %}
        {% for i in params['blog']['vData'] %}
        <tr class="highLightWord">
            <td>{{ i['video_name'] }}</td>
            <td><a href="javascript:;" onclick="DelVideoById({{i['video_id']}},this)">删除</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table></div>
    <div class="login-item">
<input class="style_file_content" accept="video/mp4,video/avi,video/wmv,video/mov,video/mpg" type="file" id="upload_video"
       onchange="UploadVideo()"/>
<!--<a href="javascript:;" onclick="VideoSubmit()" >上传视频</a>-->
</div>

</div>{% if params['order'] == 0 %}
<div class="login-item"><a href="javascript:;" onclick="SubmitBlog()">上传博客</a></div>
{% elif params['order'] == 1 %}

<div class="login-item"><a href="javascript:;" onclick="ChangeBlog()">修改博客</a></div>
{% endif %}

</div>

{% endblock %}