{% extends 'admin/index.html' %}

{% block content %}
<div class="wrap">
<div class="top_warp">
</div>
<div class="admin_menu">
    <table class="admin_menu_table">
        <tr>
                <th class="order_num"><a href="javascript:;" onclick="ManageOrder(1)"><span>用户</span></a></th>

                <th class="order_num"><a href="javascript:;" onclick="ManageOrder(2)"><span>博客</span></a></th>

                <th class="order_num"><a href="javascript:;" onclick="ManageOrder(3)"><span>评论</span></a></th>

                <th class="order_num"><a href="javascript:;" onclick="ManageOrder(4)"><span>标签</span></a></th>

                <th class="order_num"><a href="javascript:;" onclick="ManageOrder(5)"><span>日志</span></a></th>

        </tr>
    </table>
    {% block content2 %}
    {% endblock %}
</div>
</div>

{% endblock %}