{% extends 'admin/index.html' %}

{% block content %}
<div class="logo_box">
<h3>欢迎你</h3>
<form action="#" name="f" method="post">
    <div class="input_outer">
        <span class="u_user"></span>
        <input id="adminName" name="logname" class="text" style="color: #FFFFFF !important" type="text"
               placeholder="请输入账户">
    </div>
    <div class="input_outer">
        <span class="us_uer"></span>
        <input id="adminPwd" name="logpass" class="text"
               style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" type="password"
               placeholder="请输入密码">
    </div>
    <div class="mb2"><a class="act-but submit" href="javascript:;" onclick="MyLoginCheck()"
                        style="color: #FFFFFF">登录</a></div>
</form>
</div>
{% endblock %}