{% import "ul/usermenu.html" as macros %}
{% extends 'admin/adminhome.html' %}

{% block content2 %}

{% if params['order'] == 1 %}
<h1 class="text-center">用户管理</h1>
<table class="user_table">

    <tr>
        <th>序号</th>
        <th>头像</th>
        <th>用户名</th>
        <th>个人介绍</th>
        <th>邮箱</th>
        <th>注册时间</th>
        <th>操作</th>
    </tr>

    {% for i in range(params['len']) %}

    <tr>
        <td>{{ i+1 }}</td>
        <td><img src="{{ url_for('static',filename='uploads/users/'+params['data'][i]['headUrl']) }}"
                 class="user_head_pic_manage"></td>
        <td><a href="{{ url_for('admin.userChange',user_id=params['data'][i]['id']) }}" class="link_show">
            {{ params['data'][i]['username'] }}
            </a>
        </td>
        <td>{{ params['data'][i]['introduce'] }}</td>
        <td>{{ params['data'][i]['email'] }}</td>
        <td>{{ params['data'][i]['addtime'] }}</td>
        <td><a href="javascript:;" class="link_show" onclick="AdminDeleteUser({{ params['data'][i]['id'] }})">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
{{ macros.ul_page(params['pagination'], "admin.orderManage",**params['url_params']) }}
{% elif params['order'] == 2 %}
<h1 class="text-center">博客管理</h1>
<table class="user_table">

    <tr>
        <th>序号</th>
        <th>封面</th>
        <th>标题</th>
        <th>作者</th>
        <th>标签</th>
        <th>创建时间</th>
        <th colspan="2">操作</th>
    </tr>

    {% for i in range(params['len']) %}
    <tr>
        <td>{{ i+1 }}</td>
        <td><img src="{{ url_for('static',filename='uploads/blogs/'+params['data'][i]['headUrl']) }}"
                 class="user_head_pic_manage"></td>

        <td><a href="{{ url_for('home.blogs',blog_id=params['data'][i]['id'],page=1) }}" class="link_show">
            {{ params['data'][i]['title'] }}
        </a>
        </td>
        <td><a href="{{ url_for('admin.userChange',user_id=params['data'][i]['user_id']) }}" class="link_show">
            {{ params['data'][i]['author'] }}
            </a>
        </td>
        <td>{{ params['data'][i]['tag'] }}</td>
        <td>{{ params['data'][i]['addtime'] }}</td>
        <td><a href="javascript:;" class="link_show" onclick="AdminDeleteBlog({{ params['data'][i]['id'] }})">删除</a>
            <td><a href="{{ url_for('home.newBlog',user_id=params['data'][i]['user_id'],blog_id=params['data'][i]['id']) }}" class="link_show">修改</a>
        </td>
    </tr>

    {% endfor %}
</table>
{{ macros.ul_page(params['pagination'], "admin.orderManage",**params['url_params']) }}
{% elif params['order'] == 3 %}
<h1 class="text-center">评论管理</h1>
<table class="user_table">

    <tr>
        <th>序号</th>
        <th>博客</th>
        <th>发布者</th>
        <th>内容</th>
        <th>创建时间</th>
        <th colspan="2">操作</th>
    </tr>
    {% for i in range(params['len']) %}
    <tr>
        <td>{{ i+1 }}</td>
        <td><a href="{{ url_for('home.blogs',blog_id=params['data'][i]['blog_id'],page=1) }}" class="link_show">{{
            params['data'][i]['blog_title'] }}</a></td>
        <td><a href="{{ url_for('admin.userChange',user_id=params['data'][i]['user_id']) }}" class="link_show">
            {{ params['data'][i]['user_name'] }}
        </a></td>
        <td>{{ params['data'][i]['content'] }}</td>
        <td>{{ params['data'][i]['addtime'] }}</td>
        <td><a href="javascript:;" onclick="AdminDeleteComment({{ params['data'][i]['id'] }})">删除</a></td>
        <td><a href="javascript:;" onclick="ShowComCreateText({{ params['data'][i]['id'] }})">修改</a></td>
    </tr>

    {% endfor %}
</table>
{{ macros.ul_page(params['pagination'], "admin.orderManage",**params['url_params']) }}
<div id="changeComBox" class="hide">
    <div class="login-item"><span class="login_text">评论内容</span>
        <input type="text" placeholder="请输入评论" value=""
               id="InputChangeComBox" class="InputChangeComBox"/>
    </div>
    <div class="login-item"><a href="javascript:;" onclick="CommentChange()">确认修改</a></div>
    <div id="com_id" class="hide" value=""></div>

</div>
{% elif params['order'] == 4 %}
<h1 class="text-center">标签管理</h1>
<table class="user_table">

    <tr>
        <th>序号</th>
        <th>标签</th>
        <th colspan="2">操作</th>
    </tr>

    {% for i in range(params['len']) %}
    <tr>
        <td>{{ i+1 }}</td>
        <td>{{ params['data'][i]['tag'] }}</td>
        <td><a href="javascript:;" class="link_show" onclick="AdminDeleteTag({{ params['data'][i]['id'] }})">删除</a></td>
        <td><a href="javascript:;" class="link_show" onclick="ShowTagChangeText({{ params['data'][i]['id'] }})">修改</a></td>
    </tr>
    {% endfor %}
</table>
{{ macros.ul_page(params['pagination'], "admin.orderManage",**params['url_params']) }}
<div class="login-item"><a href="javascript:;" onclick="ShowTagCreateText()">创建标签</a></div>
<div id="createTagBox" class="hide">
    <div class="login-item"><span class="login_text">标签名称</span> <input type="text" placeholder="请输入用户名" value=""
                                                                        class="InputTagName"/></div>
    <div class="login-item"><a href="javascript:;" onclick="TagCreate()">确认创建</a></div>

</div>
<div id="changeTagBox" class="hide">
    <div class="login-item"><span class="login_text">标签名称</span>
        <input type="text" placeholder="请输入标签名" value=""
               id="InputChangedTagName" class="InputChangedTagName"/>
    </div>
    <div class="login-item"><a href="javascript:;" onclick="TagChange()">确认修改</a></div>
    <div id="tag_id" class="hide" value=""></div>

</div>
{% elif params['order'] == 5  %}
<h1 class="text-center">操作日志</h1>
<table class="user_table">

    <tr>
        <th>序号</th>
        <th>操作者</th>
        <th>内容</th>
        <th>时间</th>
    </tr>
    {% for i in range(params['len']) %}
    <tr>
        <td>{{ i+1 }}</td>
        <td>{{ params['data'][i]['username'] }}</td>
        <td>{{ params['data'][i]['operation'] }}</td>
        <td>{{ params['data'][i]['addtime'] }}</td>
    </tr>

    {% endfor %}
</table>
{{ macros.ul_page(params['pagination'], "admin.orderManage",**params['url_params']) }}


{% else %}
<h1 class="text-center">司母戊鼎欢迎您</h1>
{% endif %}


{% endblock %}